* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    background: url(../imgage/Group2.png)no-repeat center/cover;
    min-height: 565px;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #4A939B;
    display: flex;
    justify-content: center;
}

.nav {
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.nav__list {
    display: flex;
}

.nav__link {
    display: block;
    padding: 23px 18px;
    color: white;
    border-bottom: 1px solid transparent;
    transition: 200ms;
}

.nav__link:hover {
    background-color: white;
    border-color: #323232;
    color: #323232;
}

.header__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.header__content-title {
    font-size: 50px;
}

.header__content-desc {
    font-size: 18px;
}